 <!-- Navbar -->

 <nav class="navbar navbar-example navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'dashboard' %}">DashBoard</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbar-ex-3"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbar-ex-3">
        <div class="navbar-nav me-auto">
          <a class="nav-item nav-link active" href="{% url 'properties' %}">Properties</a>
          <a class="nav-item nav-link" href="javascript:void(0)">About</a>
          <a class="nav-item nav-link" href="javascript:void(0)">Contact</a>
        </div>

        <form onsubmit="return false">
            <a href="{% url 'logoutAdm' %}" class="btn btn-sm btn-outline-danger"
            ><i class="bx bx-log-out-circle"></i> Logout</a
          >
        </form>
      </div>
    </div>
  </nav>

<!-- / Navbar -->