{% extends 'base.html' %}
{% load static %}



{% block body %}
<section class="product_section layout_padding">
    <div class="container">
        <div class="heading_container heading_center">
            <h3>
                All <span>Properties</span>
            </h3>
        </div>
        <div class="row">
            {% for p in properties %}
            
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="box">
                    <div class="option_container">
                        <div class="options">
                            <a href="{% url 'singleview' i.id %}" class="option1">
                       View Details
                       </a>
                            <a href="" class="option2">
                       Buy Now
                       </a>
                        </div>
                    </div>
                    <div class="img-box">
                        <img src="{{p.image.url}}" alt="" style="width: 300px;">
                    </div>
                    <div class="detail-box">
                        <div>
                            <h5>
                                {{p.name}}
                            </h5>
                        </div>
                        
                        <div>
                            <h6>
                                {{p.price}}
                             </h6>
                        </div>
                        
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="btn-box">
            <a href="">
           View All products
           </a>
        </div>
    </div>
</section>
{% endblock %}


</html>