
{% extends 'base.html' %}
{% load static %}

{% block title %} Emi Request{% endblock %}

{% block body %}

<div class="untree_co-section bg-light">
    <div class="container">
     
      <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="200">
        <div class="col-lg-8 bg-white p-5">
            {% for e in emi %}
          <form class="contact-form" method="post" action="{% url 'emiFormupdate' e.id %}" >
            {% csrf_token %}
            
            <div class="row">
              <div class="col-6">
                <div class="form-group">
                  <label class="text-black" for="fname">Property name</label>
                  <input type="text" disabled value="{{e.property.name}}" class="form-control" id="fname">
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <label class="text-black" for="lname">Owner</label>
                  <input type="text" disabled value="{{e.property.owner}}" class="form-control" id="lname">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <div class="form-group">
                  <label class="text-black" for="fname">Location</label>
                  <input type="text" disabled value="{{e.property.location}}" class="form-control" id="loc">
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <label class="text-black" for="lname">Price</label>
                  <input type="text" disabled value="{{e.property.price}}" class="form-control" id="price">
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="text-black" for="email">Category</label>
              <input type="text" disabled value="{{e.property.category}}" class="form-control" id="type">
            </div>
            <div class="form-group">
              <label class="text-black" for="email">Type</label>
              <input type="text" disabled value="{{e.property.type}}" class="form-control" id="type">
            </div>
            <div class="form-group">
              <label class="text-black" for="email">Buyer's Name</label>
              <input type="text" value="{{e.customer.name}}" name="bname" class="form-control" id="dob">
            </div>
            <div class="form-group">
              <label class="text-black" for="email">Date of Birth </label>
              <input type="text" name="dob" value="{{e.dob}}" class="form-control" id="dob">
            </div>

            <div class="form-group">
                <label class="text-black" for="lname">Bank Name</label>
                <input type="text" name='bank' value="{{e.bankName}}" class="form-control" id="lname">
              </div>

              <div class="form-group">
                <label class="text-black" for="lname">Bank branch</label>
                <input type="text" name="branch" value="{{e.bankBranch}}"  class="form-control" id="lname">
              </div>
              <div class="form-group">
              <label class="text-black" for="password2">Total Years</label>

              <select class="form-control" name="years" aria-label="Default select example">
                  <option selected>{{e.emiYear}}</option>
                  
                </select>
          </div>

          <div class="form-group">
            <label class="text-black" for="password2">Amount per month</label>

            <select class="form-control" name="amount" aria-label="Default select example">
                <option selected>{{emiPerMon}}</option>
                
              </select>
        </div>

            <div class="form-group">
              <p>
                <small>By proceeding, you agree to the <a href="#">Terms and Conditions</a></small>
              </p>
            </div>

            <button type="submit" class="btn btn-primary mb-4"> Submit </button>

            
          </form>
          {% endfor %}
        </div> <!-- /.col-lg-7 -->
      </div> <!-- /.row -->
    </div> <!-- /.container -->
  </div> <!-- /.untree_co-section bg-light -->


{% endblock %}