
{% extends 'base.html' %}
{% load static %}

{% block title %}{% endblock %}

{% block body %}


<div class="container">
  <div class="row mt-5">
      <div class="col-12 col-xs-12 col-sm-12 col-md-12">
          <div class="well well-sm">
              <div class="row">
                  <div class="col-sm-12 col-md-6">
                      <img src="{{details.image.url}}" width="100%" alt="" class="img-rounded img-responsive m-3" />
                  </div>
                  <div class="col-sm-12 col-md-5 mx-3">
                    
                      <h4>{{details.name}}</h4>
                      <p class="flaticon-location text-dark">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                          <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
                        </svg>
                        {{details.location}}</p>
                        <p>{{details.landmark}}</p>
                        <p class="text-dark">{{details.type}}</p>
                        <h4> ₹ {{details.price}}</h4>
                        <p>{{details.description}}</p>
                        
                        <ul class="list-unstyled specs">
                          <li class="d-inline-flex align-items-center"   style="font-size: 23px;">
                            <span class="icon-wrap flaticon-bathtub"></span>
                            &nbsp;
                            <strong>{{details.baths}}</strong>
                          </li>
                          &nbsp;
                          <li class="d-inline-flex align-items-center"  style="font-size: 23px;">
                            <span class="icon-wrap flaticon-bed"></span>
                            &nbsp;
                            <strong>{{details.bed}}</strong>
                          </li>
                          </ul>
                        
                      <a class="btn" href="{% url 'buyform' details.id %}" style="background: #009ECE; color:#fff">Buy Now</a>
                      &nbsp;
                      <a href="{% url 'emi_request' details.id %}" class="btn btn-outline" onMouseOver="this.style.background='#009ECE'; this.style.color='#fff'" onMouseOut="this.style.color='#009ECE'; this.style.background='none'" style="border-color: #009ECE; color:#009ECE;">Emi request</a>
          
                      
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>







{% endblock %}